@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 0, 0, 0;

    --font-inter: 'Inter', sans-serif;
}

@layer base {
    html {
        height: 100%;
    }

    body {
        color: rgb(var(--foreground-rgb));
        background: rgb(var(--background-start-rgb));
        height: 100%;
        margin: 0;
        padding: 0;
    }
}